{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
  <style>
    .example-wrapper {
      margin: 1em auto;
      max-width: 800px;
      width: 95%;
      font: 18px / 1.5 sans-serif;
    }
    .example-wrapper code {
      background: #F5F5F5;
      padding: 2px 6px;
    }
  </style>

  <div class="example-wrapper">
    <h1>HOLA DOCKER! ✅</h1>

    <p>Esta es una prueba para verificar que se reciven los cambios correctamente</p>
    <br>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
    It has survived not only five centuries, but also the leap into electronic typesetting, 
    remaining essentially unchanged. It was popularised in the 1960s with the release of 
    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
    software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    <table>
    <tr>
      <th>Month</th>
      <th>Savings</th>
    </tr>
    <tr>
      <td>January</td>
      <td>$100</td>
    </tr>
    </table>


    This friendly message is coming from:
    <ul>
      <li>Your controller at
        <code>
          <a href="{{ '/home/snake77se/proyectos/docker_sample_app/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a>
        </code>
      </li>
      <li>Your template at
        <code>
          <a href="{{ '/home/snake77se/proyectos/docker_sample_app/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a>
        </code>
      </li>
    </ul>
  </div>
{% endblock %}
